.steps-container {
  margin-top: 40px;
  .courts {
    &__header {
      color: #12234c;
      font-family: "Barlow-Bold";
      font-size: 26px;
      font-weight: 700;
      opacity: 0.9000000357627869;
      text-align: left;
      margin-left: 7px;
    }
  }

  .court-type-container {
    margin-top: 15px;
    background-color: #ffffff;
    padding: 10px 7px;

    input[type="radio"] {
      display: none;
    }

    label {
      display: inline-block;
      margin: 0 3px;
    }

    input:checked + label {
      border: 1px solid #05236c;
    }

    .court-title {
      background-color: #05236c;
      display: inline-block;
      padding: 6px 10px;
      position: relative;
      color: #ffffff;
      font-family: "Barlow-Mid";
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;

      text-align: center;
      &::before {
        position: absolute;
        content: "";
        background-color: #05236c;
        width: 100%;
        height: 2px;
        bottom: -7px;
        right: 0;
      }
    }
    .divider {
      margin-top: 7px;
      opacity: 0.5;
      margin-bottom: 20px;
    }
  }

  .card-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    cursor: pointer;
    min-width: 160px;
    max-width: 160px;
    height: 190px;
    padding-bottom: 15px;
    margin: 0 auto;

    &.fully-booked {
      opacity: 0.5;
      position: relative;
      &::before {
        position: absolute;
        content: "FULLY BOOKED";
        background-color: #ffffff;
        padding: 5px 10px;
        color: red;
        left: 20px;
        top: 30px;
      }
    }

    .img-container {
      padding: 0 0 10px 0;
      img {
        width: 100%;
        height: 100px;
      }
    }

    .card-body {
      padding: 0 7px 0 7px;
      color: #04226c;
      .card-line {
        margin: 5px 0 5px;
        background-color: #04226c;
        height: 1px;
        width: 100%;
      }
    }

    .card-price {
      span {
        font-family: "Barlow-Bold";
        font-size: 15px;

        text-align: left;
      }
    }
  }
}
